@import url('https://shreyajyotidutta.github.io/grafinity/fonts.css');

html, body{
    font-family: var(--Montserrat);
}

body{
    padding-top: 70px;
}

:root{
    /*    theme font-family    */
    --Anton:'Anton',cursive;
    --Abel:'Abel',cursive;
    --Montserrat:'Montserrat',cursive;
    --Lato:'Lato',cursive;

    /*    Theme colors    */
    --heading_color:#4A017D;
    --heading_text_color: #fe0066;
    --button_color: #4DFFB3;

    /*    gradient color    */
    /*open webgradient.com*/
}

/*===============Global classes=============================*/

.navbar-dark{
    background-color: #4A017D;
}

#Navbar{
    padding-left: 20px;
}

.heading{
    padding-top: 100px;
}
/*
@media (max-width: 767px){
    .heading{
       padding-top: 50px;
    }
}*/

h1.header-text-primary{
    font-family: 'Anton', 'sans-serif';
    color: #fe0066;
    font-size: 144px;
    letter-spacing: 1.6vw;
}

h2.header-text-secondary{
    font-family: 'Anton', 'sans-serif';
    color: #fe0066;
    font-size: 104px;
    letter-spacing: 1.17vw;
}

@media (min-width: 767px) and (max-width: 991px){
    h1.header-text-primary{
        font-size: 115px;
        letter-spacing: 1vw;
    }
    h2.header-text-secondary{
        font-size: 85px;
        letter-spacing: 0.7vw;
    }
}

@media (max-width: 766px){
    h1.header-text-primary{
        font-size: 115px;
        letter-spacing: 1vw;
    }
    h2.header-text-secondary{
        font-size: 85px;
        letter-spacing: 0.7vw;
    }
}

h2.header-text-secondary
{
    padding-bottom: 1rem;
    border-bottom: 0.5rem solid #4DFFB3;
}

p.heading-tagline{
    text-transform: uppercase;
    letter-spacing : 2px;
	color : #4A017D;
}

button.btn-contact-us{
    border-radius: 20px;
    color: #4A017D;
    background-color: #4DFFB3;
    padding: 8px 20px;
    border: none;
}

button.btn-contact-us:hover{
    background-color: #4A017D;
    color: #fff;
}

.row-content{
    margin: 0 auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

h3.card-heading{
    color: #fe0066;
    font-weight: bold;
}

span.number{
    color: #fe0066;
}

span.proname{
    color: #4A017D;
}

@media (max-width: 766px){
    .card{
        margin-bottom: 10px;
    }
}

.footer{
    background-color: #7725b3;
    margin: 0 auto;
    padding: 40px 0px;
}
